
{% extends "layout.html" %}

{% block title %}
    Your Transaction History
{% endblock %}

{% block main %}
    <h2>Your Transaction History</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Shares bought or sold</th>
                            <th>Value per share</th>
                            <th>Time of transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for row in transactions %}
                        <tr>
                            <td>
                                {{row.symbol}}
                            </td>
                            <td>
                                {{row.shares}}


                            </td>
                            <td>
                                {{row.value}}
                            </td>
                            <td>
                                {{row.time}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}

